<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

   <context:annotation-config/>

   <context:component-scan base-package="com.lps.hibernatepuzzels.spring"/>

   <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
         p:driverClass="org.hibernate.dialect.HSQLDialect"
         p:jdbcUrl="jdbc:hsqldb:mem:db"/>

   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
         p:packagesToScan="com.lps.hibernatepuzzels.model"
         p:dataSource-ref="dataSource">
      <property name="hibernateProperties">
         <value>
            hibernate.hbm2ddl.auto=create
            hibernate.use_sql_comments=true
            hibernate.generate_statistics=true
         </value>
      </property>
   </bean>

   <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
         p:sessionFactory-ref="sessionFactory"/>

   <bean class="com.lps.hibernatepuzzels.support.DataGenerator">
      <constructor-arg ref="sessionFactory"/>
   </bean>

</beans>